registry=https://pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/:username=iesamsa
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/:_password=bTV6b3l2ZTU2bXl4c2p2ZHp1Y2Y2cnBkemw2c2JjcnY3a20zdWxremp1a2xod2VqMnZzcQ==
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/registry/:email=david.raya@iesa.es
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/:username=iesamsa
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/:_password=bTV6b3l2ZTU2bXl4c2p2ZHp1Y2Y2cnBkemw2c2JjcnY3a20zdWxremp1a2xod2VqMnZzcQ==
//pkgs.dev.azure.com/iesamsa/_packaging/IESACommonNPM/npm/:email=david.raya@iesa.es
; end auth token
